<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/mendez_cv_2_28.pdf">CV</a></li>
				<li><a href="/teaching">Teaching</a></li>
				<li><a href="/research">Research</a></li>
			</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:samaramendez@gmail.com">email</a></li>
	        		<li><a href="https://github.com/samaramendez">github.com/samaramendez</a></li>
				<li><a href="https://www.linkedin.com/in/samara-mendez-97741750">Linkedin</a></li>
			</ul>
			</footer>
		</body>
	</html>
